body {
    background-color: rgb(195, 206, 206);
}

header {
    padding: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: aqua;
    
}

.nav-buttons li {
    display: inline;
    margin-right: 20px;

}

#hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.hero-image {
    width: 256px;
    height: 144px;
}