body {
    /* background-color: rgb(0, 0, 0);
    background-image: linear-gradient(to top right, black , rgb(215, 215, 215)); */
    background-image: url(./attribute-images/dota2-background-image.jpeg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    min-height: 0;

}

header {
    padding: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    
}

header .logo {
    width: 200px;
    min-width: 200px;
    height: 50px;
    min-height: 50px;
    background-image: url(./attribute-images/dota2_logo_horiz.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .8;
    margin-right: 40px;
}

.nav-buttons li {
    display: inline;
    margin-right: 20px;

}

#actions {
    display: flex;
    justify-content: center;
}

#filter-bar {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #11111190;
    box-shadow: 0px 0px 30px #00000050;
    margin-top: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}

.filter-bar p {
    color: white
}

.filter-buttons{
    filter: contrast(0%);
    cursor: pointer;
}

.filter-buttons.active {
    filter: contrast(100%);
}

.search-bar {
    width: 250px;
    height: 50px;
    background-color: #25282a;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.search-bar .search-icon{
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
    margin-right: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.search-bar form input {
    height: 30px;
    max-width: 100%;
    border: 0px solid transparent;
    background-color: #25282a;
    outline: none;
    color: rgb(215, 215, 215);
    font-size: 18px;
    padding: 4px;
}



#hero-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 15px auto;
}

.hero-image {
    display: flex;
    align-items: flex-end;
    width: 256px;
    height: 144px;
    padding: 5px 5px 5px 5px;
    background-repeat: no-repeat;
    background-size: 95%;
    cursor: pointer;
}

.hero-image:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 8px #000;
    background-size: 110%;
    filter: saturate(1);
    z-index: 3;
}

.hero-name-display {
    /* display: flex;
    align-items: center;
    align-items: space-around; */
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: -40px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition-property: opacity,bottom;
    transition-timing-function: ease-out;
    transition-duration: .3s;
    z-index: 3;
    opacity: 0;
}

.hero-image:hover .hero-name-display {
    opacity: 1;
    bottom: 0px;
}

.hero-name-display img {
    width: 35px;
    height: 35px;
    margin-left: 0.25em;
}

.hero-name-display h4{
    color: white;
    font-size: 20px;
    margin-bottom: 1.25em;
    margin-left: 0.25em
}

#null-state {
    font-size: large;
    color: white;
    display: none;
    justify-content: center;
}

#null-state img {
    width: 20%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background: whitesmoke;
    width: 1200px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;

}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 20px 0px;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* @media (max-width: 900px).modal-body {
    flex-direction: column;
} */

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#hero-attributes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image-health-mana {
    width: 150px;
    height: 135px;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.image-health-mana img{
    width: 150px;
    height: 84px;
}

.healthbar {
    width: 150px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to right, #286323, #7AF03C);
    position: relative;
}

.basehealth {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-shadow: 1px 1px 2px #000;
    font-weight: 800;
}

.healthbar .health-increase {
    color: #286323;
    flex-grow: 1;
    text-align: right;
    font-size: 11px;
    padding-right: 16px;
    font-weight: bold;
}

.manabar {
    width: 150px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to right, #1056DB, #73F5FE);
    position: relative;
}

.basemana {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-shadow: 1px 1px 2px #000;
    font-weight: 800;
}

.health-mana-increase {
    color: #286323;
    flex-grow: 1;
    text-align: right;
    font-size: 11px;
    padding-right: 16px;
    font-weight: bold;
}

#base-attributes-container {
    width: 100px;
    height: 120px;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-attribute-container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0px;
}

.attribute-icon {
    width: 30px;
    height: 30px;
}

.attribute-value {
    color: rgb(0, 0, 0);
    font-family: Reaver,serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
}

.attribute-gain {
    color: #999;
    font-size: 15px;
    /* text-shadow: 1px 1px 2px #000; */
    margin-left: 8px;
    flex-grow: 1;
    text-align: right;
}

#vertical-separator {
    width: 1px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#vertical-separator:after {
    content: "";
    width: 100%;
    height: 80%;
    background-color: #4f4f4f;

    
}

#hero-stats {
    width: 90%;
    min-width: 400px;
    min-height: 0;
    display: flex;
    flex-direction: row;
}


.hero-values-section {
    width: 30%;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.heroes-values-title {
    margin-left: 8px;
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #969696;
    margin-bottom: 4px;
}

.heroes-value-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
    font-size: 16px;
    text-align: left;
}

.stat-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

#charts {
    padding: 80px
 }